@import url(reset.css);


body {
    font-family: Inter;
}

body main {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.card {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: fit-content;
    padding: 45px 70px 45px 70px;
    border-radius: 15px;
}

.imageJessica {
    border-radius: 50%;
    width: 35%;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 1em;
}

.personal-links {
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding: 17px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
    text-align: center;
}

.personal-links:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

.personal-city {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0.7em;
    color: hsl(75, 94%, 57%);
}

.personal-description {
    margin-top: 2em;
    margin-bottom: 1em;
}

.attribution {
    margin-top: 20px;
    color: white;
    font-size: 13px;
}

@media screen and (max-width: 375px) {
    .card {
        padding: 20px 30px 20px 30px;
        margin: 20px;
    }

    .personal-links {
        padding: 15px 5px 15px 5px;
        font-size: 15px;
    }

    .personal-description {
        font-size: 15px;
    }
}